.Board {
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Board .dealer-board,
.Board .player-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board .dealer-board,
.Board .player-board {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.Board .dealer-board {
  background: #0F2027;
  background: -webkit-linear-gradient(to top, rgba(44,83,100,.1), rgba(32,58,67,.1), rgba(15,32,39, .1));
  background: linear-gradient(to top, rgba(44,83,100,.1), rgba(32,58,67,.1), rgba(15,32,39, .1));
}
.Board .player-board {
  background: #0F2027;
  background: -webkit-linear-gradient(to bottom, rgba(44,83,100,.1), rgba(32,58,67,.1),rgb(75, 180, 224));
  background: linear-gradient(to bottom, rgba(44,83,100,.1), rgba(32,58,67,.1), rgba(15,32,39,.1)); 
}

.Board .card-deck {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100vw;
  perspective: 600px;
}

.Board .dealer-info {
  opacity: 0;
  animation: popFromTop .6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  animation-delay: 1.6s;
}
.Board .player-info {
  opacity: 0;
  animation: popFromBottom .6s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  animation-delay: 1.6s;
}

.Board .dealer-info h1, 
.Board .player-info h1 {
  font-size: 3vh;
  color: #182440;
  margin: 0;
}
.Board .dealer-info p, 
.Board .player-info p {
  font-size: 1.6vh;
  margin: 6px;
}
.Board .dealer-info p span,
.Board .player-info p span {
  font-size: 2vh;
  color: #4160ad;
}

.underlined {
  border-bottom: 8px solid #4160ad;
}
.overlined {
  border-top: 8px solid #4160ad;
}

.logger {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: calc(50% - 50px);
  width: 100%;
  height: 10%;
}

.logger .logger-text {
  font-size: 6vh;
  opacity: 1;
  animation: fade 2.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@media only screen and (max-width: 480px) {
  .Board {
    height: calc(100vh - 156px); /* includes 56px URL bar on android */
  }

  .logger {
    top: calc(50% - 25px);
  }
  .logger .logger-text {
    font-size: 5vh;
  }
}

/* Animations */
@keyframes fade {
  0%,100% { opacity: 0 }
  40% { opacity: 1 }
  50% { opacity: 1 }
}

@keyframes flip {
  0% { transform: rotateY(0) }
  40% { transform: rotateY(0) }
  100% { transform: rotateY(180deg) }
}

@keyframes popFromTop {
  0% { opacity: 0; margin-top: -40px; }
  100% { opacity: 1; margin-top: 0; }
}

@keyframes popFromBottom {
  0% { opacity: 0; margin-bottom: -40px; }
  100% { opacity: 1; margin-bottom: 0; }
}