.Board .dealer-card-wrapper {
  animation: popFromBottom .2s linear forwards;
}
.Board .player-card-wrapper {
  animation: popFromTop .2s linear forwards;
}

.Board .card {
  position: relative;
  display: block;
  padding: 12px;
  width: 20vh;
  height: auto;
  transform-style: preserve-3d;
  transition: margin .3s, width .3s;

  animation: flip .3s cubic-bezier(0.455, 0.03, 0.515, 0.955) backwards;
  animation-delay: .3s;
  animation-direction: reverse;
}

.card-back {
  position: absolute;
  backface-visibility: hidden;
  width:20vh;
  height: 93%;
  top: 8px;
  transform: rotateY(-180deg) translateZ(1px);
  border-radius: 12px;
  overflow: hidden;
  background-image: url('../../back.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
}

.Board .card img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .Board .card {
    margin: 0 -7vh;
  }
}
@media only screen and (max-width: 768px) {
  .Board .card {
    margin: 0 -9vh;
  }
}
@media only screen and (max-width: 420px) {
  .Board .card {
    width: 16vh;
    margin: 0 -8.5vh;
  }

  .card-back {
    width: 16vh;
    top: 0px;
  }
}
