.ActionBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100%;
  bottom: 0;

  background: #4b6cb7; 
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848); 
  background: linear-gradient(to right, #4b6cb7, #182848); 

  transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


.ActionBar button {
  background: transparent;
  border-radius: 3px;
  border: 2px solid white;
  color: white;
  margin: 0 .5em;
  padding: 0.25em 1em;
  font-size: 24px;
  cursor: pointer;
}

.ActionBar .action {
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .3s ease-out;
}

.ActionBar .action:hover {
  background-position: left bottom;
  color: #2c4276;
}

.ActionBar .action:active {
  transform: scale(.95);
}

@media only screen and (max-width: 480px) {

  .ActionBar {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }

  .ActionBar .action:nth-child(1) {
    width: 100%;
  }

  .ActionBar .action:nth-child(2),
  .ActionBar .action:nth-child(3) {
    width: 46%;
    margin: 0;
    margin-bottom: -10px;
  }

  .ActionBar .action:nth-child(2) {
    margin-left: .5em;
  }
  .ActionBar .action:nth-child(3) {
    margin-right: .5em;
  }

  .ActionBar .action {
    font-size: 20px;
  }

  .ActionBar .action:first-child:last-child {
    padding: 1.2em;
  }
}

